<div class="p-3">
    <div class="card">
     <div class="card-body">
        <div class="card-body">
            <input type="text" placeholder="Search" [(ngModel)]="keyword">
            <button (click)="handleSearch()" class="btn btn-outline-primary"><i class="bi bi-search"></i></button>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>name</th>
                    <th>price</th>
                    <th>quantity</th>
                    <th>checked</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let produit of produits">
                    <td>{{produit.name}}</td>
                    <td>{{produit.price}}</td>
                    <td>{{produit.quantity}}</td>
                    <td>
                        <button (click)="handleCheckedProduct(produit)" class="btn btn-outline-success"><i [class]="produit.checked?'bi bi-check':'bi bi-circle'"></i></button>
                    </td>
                    <td>
                        <button (click)="handleDeleteProduct(produit)" class="btn btn-outline-danger"><i class="bi bi-trash"></i></button>
                        <button class="btn btn-"></button>
            
                        <button (click)="handleEdit(produit)" class="btn btn-outline-primary"><i class="bi bi-pencil"></i></button>
                        <button class="btn btn-"></button>
                    </td>
                </tr>
            </tbody>
        </table>
        <ul class="nav nav-pills">
            <li *ngFor="let page of [].constructor(this.totalpages); let i=index" >
                <button (click)="handlePage(i+1)"  [class]="i+1==currentPage?'btn btn-success ms-1':'btn btn-outline-success ms-1'">{{i+1}}</button>
            </li>
        </ul>
     </div>
     
    </div>

</div>